[3:53 pm, 05/07/2023] Shiraz: body{background-color: darkgrey;}
div{
    width: 300px; height: 400px; background-color: rgb(114, 191, 114);
margin: 20px; padding: 20px; border: 4px ridge white;
float: left;}
h2{
    color: rgb(192, 104, 104); text-align: center;
text-shadow: 6px 4px 5px black;
text-decoration: underline;}
img{width: 100%; border: 5px solid lightblue; border-radius: 50px;}
h1{
    color: blue;
    text-align: center;
    text-decoration:underline;
}
p{
    text-align: justify;
}
